* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: rgba(0,0,0,0.4);

  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.logo {
  color: gold;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  background: linear-gradient(135deg,#2563eb,#7c3aed);
}

.hero h1 span {
  color: gold;
}

.hero-img img {
  width: 260px;
  border-radius: 50%;
  border: 5px solid gold;
}

.section {
  padding: 80px 60px;
  text-align: center;
}

.dark {
  background: #020617;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 25px;
  margin-top: 40px;
}

.card {
  padding: 25px;
  background: rgba(255,255,255,0.08);
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 15px gold;
}

.timeline-card {
  max-width: 600px;
  margin: auto;
  background: rgba(255,255,255,0.08);
  padding: 30px;
  border-radius: 15px;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  background: gold;
  color: black;
  font-weight: 600;
  display: inline-block;
}

.outline {
  background: transparent;
  border: 2px solid gold;
  color: gold;
}

.contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}

footer {
  padding: 15px;
  text-align: center;
  background: black;
}

@media(max-width:768px){
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .navbar ul {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media(max-width:768px){

  .navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: #020617;
    padding: 20px;
    border-radius: 12px;
    width: 220px;
  }

  .navbar ul.show {
    display: flex;
  }

}
